.controlsContainer {
  margin-top: 25px;
  max-width: 220px;
  border: 5px solid black;
}

.space {
  border: 1px solid black;
  height: 100%;
}

.consoleCell {
  height: 50px;
  padding-left: 0px;
  padding-right: 0px;
}

.buttons {
  border: 1px solid black;
  font-weight: bold;
  font-size: 28px;
}

.timer {
  font-weight: bold;
  font-size: 36px;
}

.timerBlock {
  padding-top: 15px;
}

.solved {
  color: limegreen;
}

.deleteBtn {
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.pencilMarkBtn, .undoredo, .clear {
  border: 2px solid black;
}

.greyed {
  background-color: rgb(224, 222, 222);
}

#corner {
  border-left: 0px;
  border-right: 0px;
}

.currentlySelected {
  background-color: rgb(224, 222, 222);
}

.pencilMarkBtn {
  font-size: 10pt;
}

.val {
  font-weight: bold;
  font-size: 28px;
  color: black;
  text-align: center;
}

.corner {
  font-weight: normal;
  font-size: 12px;
  color: black;
  text-align: right;
  padding-right: 12px;
}

.center {
  font-weight: normal;
  font-size: 12px;
  color: black;
  text-align: center;
  padding-top: 12px;
}